{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<div class="ui pagination menu">
    {{ with $pag.First }}
    <a class="item" href="{{ .URL }}" aria-label="First"><span aria-hidden="true">&laquo;&laquo;</span></a>
    {{ end }}
    <a class="{{ if not $pag.HasPrev }}disabled {{ end }}item" {{ if $pag.HasPrev }}href="{{ $pag.Prev.URL }}"{{ end }} aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
    {{ $.Scratch.Set "__paginator.ellipsed" false }}
    {{ range $pag.Pagers }}
    {{ $right := sub .TotalPages .PageNumber }}
    {{ $showNumber := or (le .PageNumber 3) (eq $right 0) }}
    {{ $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2)))  }}
    {{ if $showNumber }}
        {{ $.Scratch.Set "__paginator.ellipsed" false }}
        {{ $.Scratch.Set "__paginator.shouldEllipse" false }}
    {{ else }}
        {{ $.Scratch.Set "__paginator.shouldEllipse" (not ($.Scratch.Get "__paginator.ellipsed") ) }}
        {{ $.Scratch.Set "__paginator.ellipsed" true }}
    {{ end }}
    {{ if $showNumber }}
    <a class="{{ if eq . $pag }}active {{ end }}item" href="{{ .URL }}">{{ .PageNumber }}</a>
    {{ else if ($.Scratch.Get "__paginator.shouldEllipse") }}
    <a class="disabled item"><span aria-hidden="true">&hellip;</span></a>
    {{ end }}
    {{ end }}
    <a class="{{ if not $pag.HasNext }}disabled {{ end }}item" {{ if $pag.HasNext }}href="{{ $pag.Next.URL }}"{{ end }} aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
    {{ with $pag.Last }}
    <a class="item" href="{{ .URL }}" aria-label="Last"><span aria-hidden="true">&raquo;&raquo;</span></a>
    {{ end }}
</div>
{{ end }}
