main.container {
    margin-top: calc(60px + 1rem);
    margin-bottom: 1rem;
}

.ui.card .extra.content .tags {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.ui.card .extra.content .tags .tiny.icon {
    margin-left: 0;
    margin-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
