main.container {
    margin-top: calc(60px + 1rem);
    margin-bottom: 1rem;
}

.ui.card .extra.content .tags {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.ui.card .extra.content .tags .tiny.icon {
    margin-left: 0;
    margin-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

body {
    hyphens: auto;
}

article .description {
    text-align: justify;
}

article .description .highlight {
    border-left: 0.5rem solid rgb(65, 131, 196);
    background-color: #272822;
    font-size: 0.8rem;
}

article .description .highlight pre code {
    font-family: Hack, monospace;
}

article .description .highlight pre {
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

article .description .highlight td:first-child {
    outline: 1px solid rgb(65, 131, 196) !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;

    text-align: left;
}

article .description .highlight td:last-child {
    padding-left: 1rem !important;
}