@import url('https://fonts.googleapis.com/css?family=Boogaloo');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

main.container {
    margin-top: calc(60px + 1rem);
    margin-bottom: 1rem;
}

.ui.card .extra.content .tags {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.ui.card .extra.content .tags .tiny.icon {
    margin-left: 0;
    margin-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

body {
    hyphens: auto;
}

article .description {
    text-align: justify;
}

article .description .highlight {
    border-left: 0.5rem solid rgb(65, 131, 196);
    background-color: #272822;
    font-size: 0.8rem;
}

article .description .highlight pre code {
    font-family: Hack, monospace;
}

article .description .highlight td:first-child {
    border-right: 1px solid rgb(65, 131, 196) !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    margin-right: 0 !important;

}

article .description .highlight td:last-child {
    padding-left: 1rem !important;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Boogaloo", Arial, Helvetica, sans-serif !important;
}

.ui.card > .content > .header:not(.ui) {
    font-size: 2em;
}

body, .ui.button, header .ui.text.container {
    font-family: 'Titillium Web', sans-serif;
}